# APP
NODE_ENV=development
PORT=3001
API_PREFIX=api/v1

# DATABASE (local, without Docker)
DATABASE_URL="postgresql://<user>:<password>@localhost:5432/<dbname>?schema=public"

# DATABASE (Docker Compose)
POSTGRES_DB=veritix_db
POSTGRES_USER=veritix_user
POSTGRES_PASSWORD=change_me

# AUTH
JWT_SECRET=your_super_secret_jwt_key_minimum_32_chars!!
JWT_EXPIRATION=15m
JWT_ISSUER=veritix-api
JWT_REFRESH_SECRET=your_super_secret_refresh_key_minimum_32_chars!!
JWT_REFRESH_EXPIRATION=7d

# ENCRYPTION QR
AES_SECRET_KEY=192b6e6ececabddbada7b1ed76ac73e91

# EMAIL
RESEND_API_KEY=re_xxxxxxxxxxxxxxxxxxxx
EMAIL_FROM=tickets@veritix.app

# REDIS
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=change_me
REDIS_PORT=6379

# RATE LIMITING
THROTTLE_TTL=60000
THROTTLE_LIMIT=100

# SEED
ADMIN_PASSWORD=Admin1234!
USER_PASSWORD=User1234!

FRONTEND_URL=http://localhost:3000

# STRIPE
STRIPE_SECRET_KEY=sk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...

# CORS
CORS_EXTRA_ORIGIN=http://213.194.154.223
